* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {
    margin: 0 0px;
    width: 100%;
    display: flex;
    padding: 50px;
    flex-wrap: wrap;
    }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: black;
    flex: 1 0 21%;
  }

  .descriptionSection {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    border: 1px solid #888;
    border-radius: 10%;
    background-color: antiquewhite;
  }
  .closeSection {
    border-radius: 76%;
    background-color: red;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
    color:white;
  }

  .closeSection:hover,
  .closeSection:focus {
    color: black;
    cursor: pointer;
  }

  
  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

/* Modal Content/Box */
.modal-content-dashboard {
    
    margin: 5% 5% 5% 24%;   
    width: 50%;
    height: 50%;
    padding:40px;
  }

  .seeDescription {
    background-color: rgba(30, 139, 195, 1);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.seeDescription:hover {
background-color: rgba(30, 139, 195, .8);
}



#activerentals {
    margin: auto auto 4em auto;
    border-collapse: collapse;
    width: 63%;
    margin-top: 20px;
}

#activerentals td, #activerentals th {
  padding: 8px;
  color:white;
  
}

#activerentals tr:nth-child(even){background-color: rgba(80, 73, 73, 1); color:red;}

#activerentals tr:hover {background-color: #ddd;}

#activerentals th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(30, 139, 195, 1);
  color: white;
  text-align: center;
}

.rowProfile {
  
  display: flex;
  padding: 50px;
  flex-wrap: wrap;
  margin: 0 auto 0 auto;
  width: 50%;

}
.returnRentalButton {
  background-color: rgba(30, 139, 195, .8);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor:pointer;
  width: 80%;
}

.returnRentalButton:hover {
  background-color: rgba(30, 139, 195, .8);
}
  
@media screen and (max-width: 600px) {
  .rowProfile {
    width: 100%;
  }
  .modal-content {
    width: 100%;
  }
  .loginButtonForm {
    width:20%;
  }
  .returnRentalButton {
    width:98%;
  }
  .prevPage{
    background-color:black;
    border:none;
    color:white;
    cursor: pointer;
  }
  .nextPage {
    background-color:black;
    border:none;
    color:white;
    cursor: pointer;
  }

  .prevPage {
    background-color: rgba(30, 139, 195, .8);
  }
  .nextPage:hover {
    background-color: rgba(30, 139, 195, .8);
  }

}