.App-logo {
    height: 4em;
    margin: 2em 0;
  }

  .loginFormInput {
    width: 100%;
    padding: 12px 15px;
    margin: 10px 0;
    box-sizing: border-box;
  }

  .loginForm {
    display: none;
    position: fixed;
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
  }

  .loginButton {
        background-color: rgba(30, 139, 195, 1);
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
  }

  .loginButton:hover {
    background-color: rgba(30, 139, 195, .8);
  }

  .loginButtonForm {
    background-color: rgba(30, 139, 195, .8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: not-allowed;
    width: 11%;
    pointer-events: none;
  }

  .addAMovieButton {
    background-color: rgba(30, 139, 195, .8);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 11%;
  }
  
  .addAMovieButton:hover {
    background-color: rgba(30, 139, 195, .8);
  }


  .loginButtonForm:hover {
    background-color: rgba(30, 139, 195, .8);
  }

  /* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 5% auto;
    border: 1px solid #888;
    width: 50%;
    padding: 20px 40px !important; 
  }
  .sectionerror {
    display:none;
  }

  .closeSection {
    border-radius: 76%;
    background-color: red;
    border: 1px solid red;
    text-align: center;
    font-size: 24px;
    color:white;
  }

  .closeSection:hover,
  .closeSection:focus {
    color: black;
    cursor: pointer;
  }