.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: black;
}
.navMenu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin: 2em 0;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: white;
  background-color: black;
  font-size: 16px;
  outline: none;
}
.App-link:hover {
  color: rgba(30, 139, 195, 1);;
}

@keyframes App-logo-spin {
  from {
    transform: scale(0.7, 0.7);
  }
  to {
    transform: scale(1, 1);
  }
}
